<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Sistema de Estadísticas</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'webapp/styles/style.css' %}">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css'>
</head>

<body>
    <div class="flex h-screen overflow-x-hidden overflow-y-auto bg-[#e6e8eb]">
        <!-- Sidebar menu -->
        <div class="m-2 p-2 rounded-lg hidden md:flex flex-col items-center w-2/12 fixed top-0 bottom-0 left-0 min-w-max bg-[#111827]">
            <!-- Logo -->
            <div class="w-full py-2 basis-2/12 flex justify-center items-center">
                <img src="{% static 'webapp/logo_Proyecto.png' %}" alt="Logo" class="md:w-20 lg:w-24">
            </div>
            <!-- Navigation items -->
            <div class="w-full basis-8/12 flex justify-center items-center">
                <div class="w-full space-y-4 flex flex-col">
                    <span class="p-2 rounded-md flex justify-center text-lg text-white font-bold">
                        Seleccione un año
                    </span>
                    <a href="/" class="p-2 rounded-md hover:bg-[#1f2937] duration-300 text-lg text-center text-white font-semibold">2020</a>
                    <a href="2021" class="p-2 rounded-md hover:bg-[#1f2937] duration-300 text-lg text-center text-white font-semibold">2021</a>
                    <a href="2022" class="p-2 rounded-md hover:bg-[#1f2937] duration-300 text-lg text-center text-white font-semibold">2022</a>
                </div>
            </div>
            <!-- Login button -->
            <div class="w-full basis-2/12 flex justify-center items-end">
                <div class="w-full flex justify-center ">
                    <a href="login_Admin/" class="font-semibold my-3 p-2 text-white text-lg rounded-md hover:bg-[#1f2937] duration-300 flex items-center justify-center space-x-3">Iniciar sesión
                        <i class="fi pl-2 fi-bs-arrow-right-to-bracket flex items-center"></i></a>
                </div>   
            </div>
        </div>
        <!-- Dashboard -->
        <div class="p-2 md:m-2 w-full md:w-10/12 h-12/12 p-2 md:ml-[24%] lg:ml-[17%]">
            <header>
                <div class="mt-3 lg:mt-4 xl:mt-5 flex justify-center">
                    <h1 class="text-center font-bold text-lg md:text-xl lg:text-3xl 2xl:text-4xl">Sistema de
                        Estadísticas, Afectación por
                        <span class="uppercase text-emerald-600">covid-19</span>
                    </h1>
                </div>
            </header>
            <main>
                <!-- Graphics-->
                <div class="h-max p-3">
                    {% block content %}
                    {% endblock %}
                </div>

                <!-- Button -->
                <div class="p-3 mt-2 flex justify-center">
                    <button class="py-1.5 px-4 md:py-2 lg:px-5 bg-[#1f2937] rounded-md drop-shadow-lg shadow-black hover:ring-2 hover:ring-emerald-600 active:ring-1">
                        <span class="text-white font-medium md:font-semibold text-sm md:text-base">Filtrar</span>
                    </button>
                </div>
            </main>

            <footer>
                <div class="p-3 flex justify-center xl:block xl:absolute bottom-0 right-3">
                    <span class="text-xs lg:text-sm font-semibold text-[#111728]">
                        Universidad de El Salvador, Ingeniería en Sistemas Informáticos - HDP115, GL03
                    </span>
                </div>
            </footer>
        </div>
    </div>
    {% block content2 %}
    {% endblock %}
</body>
</html>