
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Gestion de datos - Afectacion covid-19 {% block title %}{% endblock %}</title>
</head>

<body class="h-screen w-screen overflow-auto flex flex-row justify-around items-center bg-[#e6e8eb]">
    <div class="flex flex-col w-2/6 h-3/4 bg-white rounded-xl">
        <div class="w-full h-max mt-10 flex justify-center">
            <h1 class="p-4 rounded-md text-black font-bold text-center text-3xl">Area de administración de la aplicación</h2>
        </div>
        <div class="flex w-full h-min mt-8 justify-center">
            <form method="GET" class="flex flex-col basis-1/2 p-3 shadow-sm shadow-gray-500">
                {% csrf_token %}
                <p class="text text-center text-black font-semibold m-2">Universidades:</p>
                <button type="submit" formaction="Agregaruni"
                    class="bg-cyan-500 m-2 hover:bg-cyan-700 text-white font-bold py-2 rounded-full">Agregar
                    </button>
                <button type="submit" formaction="Modificaruni"
                    class="bg-cyan-500 m-2 hover:bg-cyan-700 text-white font-bold py-2 rounded-full">Modificar
                    </button>
                <button type="submit" formaction="Eliminaruni"
                    class="bg-cyan-500 m-2 hover:bg-cyan-700 text-white font-bold py-2 rounded-full">Eliminar
                    </button>
            </form>
            <form method="GET" class="flex flex-col basis-1/2 p-3 shadow-sm shadow-gray-500">
                {% csrf_token %}
                <p class="text text-center text-black font-semibold m-2">Graficos:</p>
                <button type="submit" formaction="Agregargrf"
                    class="bg-cyan-500 m-2 hover:bg-cyan-700 text-white font-bold py-2 rounded-full">Agregar
                    </button>
                <button type="submit" formaction="Modificargrf"
                    class="bg-cyan-500 m-2 hover:bg-cyan-700 text-white font-bold py-2 rounded-full">Modificar
                    </button>
                <button type="submit" formaction="Eliminargrf"
                    class="bg-cyan-500 m-2 hover:bg-cyan-700 text-white font-bold py-2 rounded-full">Eliminar
                    </button>
            </form>
        </div>
    </div>
        <div class="w-3/6 h-3/4">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>