{% extends 'administracion/base_admin.html' %}
{% block title %}- Eliminar Grafico{% endblock %}
{% block content %}
<div class="w-full p-5 bg-white rounded-xl">
    <h2 class="text-black text-center font-bold text-3xl">Eliminar Grafico</h2>
    <div class="flex w-full">
        <form method="POST">
            <table class="table-auto">
                <thead class="text-md text-white bg-cyan-700">
                    <tr>
                        <th class="p-2">Año</th>
                        <th class="p-2">Tipo de Grafico</th>
                        <th class="p-2">Universidad</th>
                    </tr>
                </thead>
                <tbody>
                    {%if grafis %}
                    {%for grafi in grafis %}
                    <td>{{ grafi.anio_dato }}</td>
                    <td>{{ grafi.tipoGrafico }}</td>
                    <td>{{ uni.idUniversidad.nombreU }}</td>
                    {%endfor%}
                    {%endif%}
                </tbody>
               
            </table>
        </form>
    </div>
</div>
{% endblock %}